<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 card mb-4 mt-3 left top">
            <div class="card-body">
                <h1>{% block title %}About Me{% endblock title %}</h1>
                <p class="card-text" style="text-indent: 30px">Greetings and thank you for taking the time to
                visit my blog.  I hope you learn something useful while you are here. This blog was
                written by me using Python, Django, and Bootstrap. The source code is available on my
                <a href="https://github.com/Optimizer-Prime/my-blog">Github</a>. </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</html>