<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 left">
            <div class="card-body">
                <h1>{% block title %}Publications{% endblock title %}</h1>
                <h5>Both primary manuscripts and abstracts are listed here.</h5>
{#                <p class="card-text" style="text-indent: 30px"></p>#}
            </div>
        {% for pub in publications_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5>{{ pub.title }}</h5>
                    <p>{{ pub.authors }}</p>
                        <p><span class="badge bg-danger text-light">{{ pub.get_article_type_display }}</span>
                        | {{ pub.year_published}}
                        {% if pub.journal_name != None %} | {{ pub.journal_name }} {% endif %}
                        {% if pub.volume != None %} | Vol. {{ pub.volume }} {% endif %}
                            {% if pub.issue != None %} | Issue {{ pub.issue }} {% endif %}</p>

                        <p>{% if pub.doi != None %} DOI: <a href="{{ pub.doi }}">{{ pub.doi }}</a> {% endif %}
                        {% if pub.journal_link != None %} | <a href="{{ pub.journal_link }}">Journal Link</a>{% endif %}
                        {% if pub.download_link != None %} | <a href="{{ pub.download_link }}">
                                Download Link
                            </a> {% endif %}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
</html>